{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",
    "ConnectionStrings": {
        "Connection": "Server=ServerName; DataBase=RedisDBCache; Trusted_Connection=True; TrustServerCertificate=True; Encrypt=False",
        "Redis": "Redis API url"
    }
}
